@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap);

[class*="__container"]{
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}
main {
    height: 2200px;
}
.wrapper {
    background: url(../img/01.jpg) 0 / cover no-repeat;
    height: 600px;
}
.content__container li {
    font-weight: 700;
    font-size: 16px;
    color: #637381;
    margin-bottom: 18px;
}
.block-1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.6;
    color: #E5E5E5;
    padding-top: 330px ;
    margin-bottom: 100px;
}
.block-1 p {
    margin-bottom: 30px;
    opacity: 0.8;
}
.first-title{
    color: #F8F9FA;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.block-2 {
    font-family: 'Inter';
    padding-bottom: 100px;
}
.block-2-header {
    font-weight: 400;
    font-size: 26px;
    color: #212B36;
    margin-bottom: 45px;
}
.items {
    margin-bottom: 60px;
}
.item {
    background: url(../img/Ellipse.svg) 0 4px no-repeat;
    padding-left: 18px;
}
.item-2 {
    background: url(../img/02.svg) 0 0px no-repeat;
    padding-left: 30px;
    height: 24px;
}
.item-3 {
    background: url(../img/03.svg) 0 0px no-repeat;
    padding-left: 30px;
    height: 24px;
}
.item-4 {
    background: url(../img/04.svg) 0 0px no-repeat;
    padding-left: 30px;
    height: 18px;
}
.item-5 {
    background: url(../img/05.svg) 0 0px no-repeat;
    padding-left: 30px;
    height: 24px;
}
.item-6 {
    background: url(../img/06.svg) 0 0px no-repeat;
    padding-left: 28px;
    height: 18px;
}
.footer-block {
    background: #F4F7FF url(../img/speaker.png) 70% center / 272px 396px no-repeat;
}
.footer__container {
    font-family: 'Inter';
}
.block-3{
    display: inline-block;
    padding-bottom: 300px;
}
.price {
    color: #3056D3;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 13px;
    padding-top: 145px;
}
.footer-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 15px;
}
.sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #637381;
    margin-bottom: 35px;
}
.link {
    background-color: #3056D3;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    color:#FFFFFF;
}
